body {
    /* Photo by Solen Feyissa on Unsplash https://unsplash.com/photos/kVG0XF8j5ao */
    background-image: url(images/solen-feyissa-kVG0XF8j5ao-unsplash.jpg);
    object-fit: cover;
    color: rgb(43,62,1);
}

nav {
    padding: 150px;
}

nav a {
    margin-right: 50px;
}

.hero h2, p {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(43,62,1);
}

a:hover {
    color: rgb(87,156,5);
}

.hero {
    width: 100%;
    height: 900px;
}

.box, .paragraph {
    margin-bottom: 100px;
}

.box {
    width: 800px;
    height: 500px;
    background-color: rgba(191,63,120,255);
    transition: background-color 1s;
    display: inline-flex;
    margin-left: 5%;
    border-radius: 50px;
}

.paragraph {
    width: 800px;
    height: 500px;
    background-color: rgb(252,255,227);
    color: rgba(191,63,120,255);
    transition: opacity 300ms ease-in, color 1s; 
    display: inline-flex;
    float: right;
    margin-right: 5%;
    border-radius: 50px;
}

.paragraph p {
    padding: 100px 40px;
}

.counter {
    background-color: rgb(219,248,174);
    width: 800px;
    height: 500px;
    display: inline-block;
    border-radius: 50px;
    margin-left: 5%;
    margin-bottom: 200px;
}

#number, .counter-text {
    text-align: center;
    padding-top: 150px;
}

#modal {
    width: 100%;
    height: 100%;
    background-color: rgba(123, 158, 114, 0.7);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    display: none;
}

.modal-content {
    background-color: #f8c76b;
    margin: 10% auto;
    padding: 20px;
    width: 40%;
    -webkit-box-shadow: 0.4375rem 0.4375rem 0.625rem 0rem rgba(0,0,0,0.26); 
    box-shadow: 0.4375rem 0.4375rem 0.625rem 0rem rgba(0,0,0,0.26);
    animation-name: openmodal;
    animation-duration: 1s;
}

.closeBtn {
    color: #fff;
    float: right;
    font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-form h3 {
    display: block;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #2D4826;
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.modal-form h4 {
    text-align: center;
    color: #2D4826;
    padding-bottom: 1rem;
}

input {
    background-color: #FBF9E7;
    width: 60%;
    border-radius: 0.1875rem;
    border-style: none;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-box-shadow: inset 0rem 0.25rem 0.25rem 0rem rgba(0,0,0,0.25); 
    box-shadow: inset 0rem 0.25rem 0.25rem 0rem rgba(0,0,0,0.25);
}

#name::placeholder, #email::placeholder, #message::placeholder {
    font-size: 0.75rem;
    color: #7B9E72;
}

#name {
    display: block;
    margin-bottom: 1rem;
    padding: 0.625rem;
}

#email {
    display: block;
    margin-bottom: 1rem;
    padding: 0.625rem;
}

#message {
    display:block;
    width: 60%;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    padding-bottom: 8rem;
    resize: none;
}

#submit {
    font-weight: bold;
    color: #f8c76b;
    font-size: 0.5rem;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem #2D4826;
    padding: 0.625rem 1.5625rem;
    background: #2D4826;
    display: block;
    margin: 1rem auto;
    border: 1px solid #2D4826;
    width: 60%;
}

#submit:hover,
#submit:focus {
    background: #f8c76b;
    color: #2D4826;
}

@keyframes openmodal {
    from{opacity:0}
    to{opacity:1}
}